/* Efeito de hover nas colunas */
.sortable-header {
  text-align: left; /* Alinha o texto à esquerda */
  cursor: pointer; /* Mostra o cursor de ponteiro ao passar o mouse */
  padding: 10px; /* Adiciona espaçamento interno */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Suaviza a transição de cor e a transformação */
}

.sortable-header:hover {
  background-color: #0a58ca
  ; /* Cor de fundo suave no hover */
  transform: scale(1.05); /* Leve aumento de tamanho ao passar o mouse */
}

/* Estilo para a coluna ativa após o clique */
.sortable-header.active {
  background-color: #0d6efd; /* Cor de fundo ao clicar (seleção ativa) */
  font-weight: bold;
  border-left: 3px solid #0a58ca; /* Borda verde para indicar a coluna ativa */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Setas de ordenação */
.sortable-header.asc::after {
  content: ' ↑'; /* Seta para ordem crescente */
  margin-left: 5px;
}

.sortable-header.desc::after {
  content: ' ↓'; /* Seta para ordem decrescente */
  margin-left: 5px;
}

/* Efeito de hover nas células da tabela */
.sortable-cell {
  text-align: left; /* Alinha o texto à esquerda */
  padding: 10px; /* Adiciona espaçamento interno */
  transition: background-color 0.3s ease; /* Suaviza a transição de cor */
}

.sortable-cell:hover {
  background-color: #00000062; /* Leve cor de fundo no hover das células */
}
