
table {
    width: 100%;
  }
  table, th, td {
    border: 1px solid black;
  }
  th, td {
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
  }
  
  td {
  
    white-space: nowrap; 
    overflow: hidden;   
    text-overflow: ellipsis; 
    max-width: 150px;     
  }
  
  /* Estilo para a lista de produtos */
  .product-list {
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o padding padrão */
    margin: 0; /* Remove a margem padrão */
  }
  
  /* Estilo para cada item da lista de produtos */
  .product-item {
    background-color: #f9f9f9; /* Cor de fundo dos itens */
    border: 1px solid #ddd; /* Borda dos itens */
    padding: 10px; /* Espaçamento interno dos itens */
    margin-bottom: 5px; /* Espaçamento entre os itens */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
  }
  
  /* Estilo para o item da lista ao passar o mouse */
  .product-item:hover {
    background-color: #f1f1f1; /* Cor de fundo ao passar o mouse */
  }
  .background-container {
    background-image: url('../../assets/background2.png');
    background-size: cover;        /* cobre toda a tela */
    background-position: center;   /* centraliza a imagem */
    background-repeat: no-repeat;  /* evita repetição */
    min-height: 100vh;             /* ocupa toda a altura da tela */
    width: 100%;
  }
  